<%- include("partials/header") -%>

<h1>HOME</h1>

<p> <%= startingContent %> </p>

  <%  console.log(posts); %>

  <% posts.forEach(function(post){ %>
    <h1> <%= post.title%> </h1>

    <p> <%= post.content + " ... " %>  <a href="/posts/<%=post._id%>">Read More</a> </p>

  <% }); %>

  <button><a href="/compose">Create new post</a></button>

<%- include("partials/footer") -%>
